/*
body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
*/

.titularpeq
	color: red
.titularpeq2
	font-size: 20px;
.titulargran
	color: green

.positiu
	color: blue
.negatiu
	color: red